ul {
    display: none;
    padding: 16px;
    background-color: white;
    border-radius: 10px;
    font-size: 14px;
    list-style-type: none;
    width: 50%;
}

li {
    border: 2px solid gray;
    padding: 4px;
    margin-bottom: 4px;
}

.users-wrapper {
    display: flex;
    justify-content: center;
}